@model IEnumerable<attendance_hostel.Models.Attendance_record>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Session["Roal"].ToString() == "admin")
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.block)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.standard)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.A_year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.incharge)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.floor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.block)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.standard)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.A_year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.incharge)
        </td>

        
            @if (Session["Roal"].ToString() == "admin")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            }
        <td>
            
        </td>
            
                


    </tr>
}

</table>
