@model attendance_hostel.Models.res_com

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>res_com</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reasons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reasons)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
